<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
        body {
            background-image: url('https://static9.depositphotos.com/1586254/1106/i/950/depositphotos_11065945-stock-photo-electronic-components-on-white-background.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 class="text-center my-4">Product Management System</h1>
    <a class="btn btn-primary" href="/products/create">Create new Product</a>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Description</th>
            <th>Price</th>
            <th>Image</th>
            <th>CreatedAt</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.brand}"></td>
            <td th:text="${product.category}"></td>
            <td th:text="${product.description}"></td>
            <td th:text="@{${product.price} + ' ILS'}"></td>
            <td> <img th:src="@{'images/'+${product.imageFileName}}" alt="..." width="120"> </td>
            <td th:text="${product.createAt.toString().substring(0,10)}"></td>
            <td style="white-space:nowrap">
                <a class="btn btn-warning btn-sm" th:href="@{products/edit(id=${product.id})}">Edit</a>
                <a class="btn btn-danger btn-sm" th:href="@{products/delete(id=${product.id})}"
                   onclick="return confirm('are u sure?')">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>
